@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Home";
}

@using(Html.BeginForm()){
<br />
<h2>O naszej bibliotece</h2>
<br />

    <div class="card text-white bg-primary mb-3" style="max-width: 200rem;">
        <div class="card-body">
            <div class="card-header">Kim jesteśmy?</div>
            <p class="card-text">Książnica Podlaska im. Łukasza Górnickiego w Białymstoku, wojewódzka samorządowa 
                instytucja kultury, jest największą biblioteką w regionie Polski północno-wschodniej. Jej zasoby, na dzień 31.12.2021 r. 
                liczą 1 341 637 jednostek, w tym 1 154 459 vol. książek, czasopism oprawnych – 60 367 oraz 126 811 jednostek zbiorów specjalnych. 
                Liczba tytułów czasopism bieżących wynosi 3 322. Biblioteka gromadzi materiały o charakterze uniwersalnym, z przewagą piśmiennictwa z zakresu humanistyki i nauk społecznych. 
                Od 1997 r., na podstawie Ustawy o obowiązkowych egzemplarzach bibliotecznych z dn. 7 listopada 1996 r., posiada prawo do ogólnopolskiego egzemplarza obowiązkowego. .</p>
        </div>
    </div>

    <br/>
    <div>
        <img src="projekt1.jpg"> 
    </div>
    <br/>

    <div class="card text-white bg-primary mb-3" style="max-width: 200rem;">
        <div class="card-body">
            <div class="card-header">Z kim współpracujemy?</div>
            <p class="card-text">
                Książnica współpracuje stale z bibliotekami uczelnianymi Białegostoku, m.in. w ramach inicjatywy Podlaskie Forum Bibliotekarzy, Konsorcjum Bibliotek Naukowych Miasta Białegostoku oraz 
                projektu Podlaska Biblioteka Cyfrowa. Od kilku lat rozwija się też współpraca z bibliotekami zagranicznymi, zwłaszcza z Biblioteką im. Wróblewskich Litewskiej Akademii Nauk w Wilnie oraz
                z Obwodową Biblioteką Naukową im. J. Karskiego w Grodnie.
            </p>
        </div>
    </div>

    <br />
    <div>
        <img src="projekt1.jpg">
    </div>
    <br />

    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>

        </blockquote>
        <figcaption class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
        </figcaption>
    </figure>


}