@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" href="/Cart/GetUserCart">
            <span id="cartCount" class="badge text-bg-warning">0</span>
        </a>    
    </li>
    <li class="nav-item">
            <img class="rounded-circle m-1" height="40px" width="40px" src="https://www.pngitem.com/pimgs/m/508-5087336_person-man-user-account-profile-employee-profile-template.png">
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Witaj <span id="username">@User.Identity?.Name</span>!
                @if (User.IsInRole("Admin"))
                {
                    <span>(ADMIN)</span>
                }
                else
                @if (User.IsInRole("Moderator"))
                {
                    <span>(MOD)</span>
                }
            </a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Wyloguj</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <button type="button" class="btn btn-primary btn but-out-line">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
            </button>
    </li>
    <li class="nav-item">
            <button type="button" class="btn btn-primary btn but-out-line">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
            </button>
    </li>
}
</ul>
