@*
*@
@{
    ViewData["Title"] = "AdminPanel";
}
<br />
<h1>Admin Panel</h1>
<br />
<a asp-action="IndexApplicationUser" class="btn btn-primary">User Roles</a>
<a asp-action="IndexUserRoles" class="btn btn-primary">Manage User Roles</a>
<a asp-action="ViewUsers" class="btn btn-primary">View Users</a>