<body>
    <h1>ADMIN PANEL</h1>
    <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Index">UserRoles</a>
    <a class="btn btn-primary" asp-controller="RoleManager" asp-action="Index">RoleManager</a>
    <a class="btn btn-primary" asp-controller="CreateUser" asp-action="">AddUser</a>


</body>