@*
*@
@{
    ViewData["Title"] = "AdminPanel";
}
<br />
<h1>AdminPanel</h1>
<br />
<a asp-action="IndexApplicationUser" class="btn btn-primary">IndexApplicationUser</a>
<a asp-action="IndexUserRoles" class="btn btn-primary">IndexUserRoles</a>
<a asp-action="ViewStudents" class="btn btn-primary">ViewStudents</a>