@model Biblioteka_project_2.Models.User


@{
    ViewData["Title"] = "Create User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateUser</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" required />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Role" class="form-label"></label> <br />
        @foreach (var role in Model.Role)
        {
            <div class="form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Role" id="@role" name="Role" value="@role" required />
                <label class="form-check-label" for="@role">
                    role
                </label>
            </div>
        }
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">"CreateUser"</button>
    </div>

</form>

<a asp-action="Index" class="btn btn-secondary">Back</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}